<!DOCTYPE html>
<html>
<head>
    <title>LoginApp</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--<div class="landing-nav">-->
    <!--<div class="menu-reg">-->
        <!--<div class="brand"><i class="fa fa-film  fa-5x fa-fw"></i><h1 class="heading">Viewr</h1></div>-->
        <!--<div class="login-button"><a href="login"><button type="button" class="btn btn-default">Login</button></a></div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="main-section">-->
    <!--<h2>Sign up for your free Viewr Account</h2>-->
    <!--<h3 >Registration is quick and easy!</h3>-->
        <!--<form method="post" action="/users/register">-->
            <!--<div class="form-group form-inline">-->
                <!--<label>Name</label>-->
                <!--<input type="text" class="form-control" placeholder="Name" name="name">-->
                <!--<label>Username</label>-->
                <!--<input type="text" class="form-control" placeholder="Username" name="username">-->
            <!--</div>-->
            <!--<div class="form-group form-inline">-->
                <!--<label>Email</label>-->
                <!--<input type="email" class="form-control" placeholder="Email" name="email">-->
                <!--<label>Password</label>-->
                <!--<input type="password" class="form-control" placeholder="Password" name="password">-->
            <!--</div>-->
            <!--<div class="form-group form-inline">-->
                <!--<label>Confirm Password</label>-->
                <!--<input type="password" class="form-control" placeholder="Password" name="password2">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default ">Register</button>-->
        <!--</form>-->
<!--</div>-->


<!--<div class="footer">-->

<!--</div>-->
<!--<div class='menu-container'>-->
    <!--<div class='menu'>-->
        <!--<div class='date'>Aug 14, 2016</div>-->
        <!--<div class='signup'>Sign Up</div>-->
        <!--<div class='login'>Login</div>-->
    <!--</div>-->
<!--</div>-->


<!-- Header -->



    <!--<form method="post" action="/users/register">-->
    <!--<div class="form-group form-inline">-->
    <!--<label>Name</label>-->
    <!--<input type="text" class="form-control" placeholder="Name" name="name">-->
    <!--<label>Username</label>-->
    <!--<input type="text" class="form-control" placeholder="Username" name="username">-->
    <!--</div>-->
    <!--<div class="form-group form-inline">-->
    <!--<label>Email</label>-->
    <!--<input type="email" class="form-control" placeholder="Email" name="email">-->
    <!--<label>Password</label>-->
    <!--<input type="password" class="form-control" placeholder="Password" name="password">-->
    <!--</div>-->
    <!--<div class="form-group form-inline">-->
    <!--<label>Confirm Password</label>-->
    <!--<input type="password" class="form-control" placeholder="Password" name="password2">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default ">Register</button>-->
    <!--</form>-->
<section class="hero container">

    <h2>Register to use Viewr here</h2>


    <form method="post" action="/users/register">
        <fieldset class="account-info">
            <label>
                Name
                <input type="text" name="name" placeholder="Enter name" required>
            </label>
            <label>
                Username
                <input type="text" placeholder="Enter username" name="username" required>
            </label>
            <label>
                Email
                <input type="email" placeholder="Email" name="email" required>
            </label>
            <label>
                Password
                <input type="password" placeholder="Enter password" name="password2" required>
            </label>

            <label>
                Confirm Password
                <input type="password" placeholder="Confirm password" name="password" required>
            </label>
        </fieldset>
        <fieldset class="account-action">
            <input class="btn" type="submit" name="submit" value="Login">
            <label>
                <input type="checkbox" name="remember"> Stay signed in
            </label>
        </fieldset>
    </form>

</section>


