<html>
<head>
    <title>LoginApp</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <h1>Search For a Show/Movie & Ice Cream</h1>

    <form action="/api/results" method="GET">
        <input type="text" placeholder="search for a title" name="search">
        <input type="submit">
    </form>

</body>

<!--<h1>Search for a Movie</h1>-->
<!--<form action="/api/movieresults" method="GET">-->
<!--<input type="text" placeholder="search for a movie" name="search">-->
<!--<input type="submit">-->
<!--</form>-->

<!--<h1>Search for a picture</h1>-->
</html>