
<h1>Display TV Results</h1>
<h1><%data["results"].forEach(function(tv){ %></h1>
<div>
    <h1>Name of the TV Show: <%=tv["name"]%></h1>
    <p> Overview:<%=tv["overview"]%></p>
    <p>Average Vote: <%=tv["vote_average"]%></p>
    <p>Popularity:<%=tv["popularity"]%></p>
    <p>Date First Aired:<%=tv["first_air_date"]%></p>
</div>
<% }) %>


<a href="/">Search Again!</a>